[Unit]
Description=Pull latest backend and frontend Docker images and restart containers if updated
After=network.target docker.service
Wants=docker.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/docker pull jeanmichelbb/oci-backend:latest
ExecStartPre=/usr/bin/docker pull jeanmichelbb/oci-frontend:latest
ExecStart=/bin/bash -c '\
    docker stop backend frontend || echo "No containers to stop"; \
    docker rm backend frontend || echo "No containers to remove"; \
    docker run -d --name backend \
      --network=my_network \
      --restart=always \
      --env-file=/opt/chatbox/.env \
      -p 8000:8000 \
      --memory=256m --cpus=0.3 \
      jeanmichelbb/oci-backend:latest && \
    docker run -d --name frontend \
      --network=my_network \
      --restart=always \
      -p 80:80 \
      --memory=128m --cpus=0.2 \
      jeanmichelbb/oci-frontend:latest; \
    '

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target